@font-face {
  font-family: "Akkurat LL";
  src: url('./Akkurat/AkkuratLL-Regular.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Akkurat LL";
  src: url('./Akkurat/AkkuratLL-Light.otf');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Akkurat Mono";
  src: url('./Akkurat/AkkuratMonoLL-Regular.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Adobe Garamond Pro";
  src: url('./Adobe Garamond Pro/AGaramondPro Regular.otf');
  font-weight: normal;
  font-style: normal;
}
